<!-- views/partials/head.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">    
    <title>Medium Clone</title>
</head>
<body class="flex flex-col h-screen">
    <!-- navigation bar -->
    <nav class="px-2 py-3 navbar-expand-lg bg-gray-900 mb-20" style="background-color: #12100E;">
        <div class="flex flex-row container px-4 mx-auto items-center">

            <div class="w-full  lg:w-1/3 text-white px-4 text-left flex flex-row items-center">
                <a class="text-sm font-bold leading-relaxed text-2xl text-left inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white" href="/">
                    <p class="text-white text-4xl">M</p>
                </a>
                <p class="text-xl font-light">| <%= Title != undefined ? Title : "Clone" %></p>

            </div>

            <div class="text-white ml-auto flex flex-row">
                <div class="rounded-full h-8 w-8 ml-5 cursor-pointer flex items-center justify-center overflow-hidden">
                    <a href="/profile/login">
                        <% if(user != undefined) { %>
                            <img  class="object-cover" src="<%= user.profilePicture %>" />
                        <% } else { %>
                            <img  class="object-cover" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" />
                        <% } %>
                        
                        
                    </a>
                </div>
            </div>

        </div>
    </nav>
    <main class="container mx-auto ">
      <!-- ////// -->