<!-- single article preview for you own profile view -->
<div class="py-8 px-0 rounded mb-10">
    <div class="md:flex-grow w-full px-5">
      <a href="/article/id"><h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Bitters hashtag waistcoat fashion axe chia unicorn</h2></a>
      <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p>
      <div class="my-5">
        <a href=""><button class="border-2 mr-5 text-small  py-1 px-2 rounded">View Article</button></a>
        <button class="border-2 border-gray-600 text-gray-900 text-small hover:bg-gray-200 font-light py-1 px-2 rounded">Edit Article</button>
    </div>
    </div>
  </div>