<div class="md:pb-10 md:w-full w-1/3 mr-10">
    
    <div class="flex align-center justify-between">
        <p class="mb-5 md:w-1/2 text-md md:text-xl font-bold"><%= topic.topic %></p>
        <a class="md:block hidden" href="/<%= topic.slug %>"><button class="h-10 w-20 border bg-gray-900 text-white rounded">View</button></a>
    </div>
    
    <hr class="hidden md:block"/>
</div>