<div class="pb-10">
    
    <div class="flex align-center justify-between">
        <p class="mb-5 w-1/2 text-xl font-bold">Topic Name</p>
        <a href="/topic-id"><button class="h-10 w-20 border bg-gray-900 text-white rounded">View</button></a>
    </div>
    
    <hr />
</div>