<%- include('partials/head', {Title: "Sign In"}) %>

<section>
    <!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<div class="flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full">
      <div>
        <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
         Sign in to your account
        </h2>
        <p class="mt-2 text-center text-sm leading-5 text-gray-600">
          Or
          <a href="/profile/register" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
            sign up here
          </a>
        </p>
      </div>
      <a href="/profile/auth/google"><button style="background-color: #4285F4;" class="text-sm my-10 mx-auto items-center flex flex-row w-25 h-15 text-white pr-2 pl-1 pt-1 pb-1 rounded font-bold"><img width="35px" class="mr-3" src="https://developers.google.com/identity/images/g-logo.png" />Sign in with Google</button></a>
    </div>
  </div>
  
</section>

<%- include('partials/footer') %>